@charset "utf-8";
/* CSS Document */

body {
	background: #332F29;
	color: #000;
	font-size:100%;
}

#contenedor {
	background: #8FA68E;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
	width: 800px;
}

nav {
	background: #CC3910;
	float: left;
	width: 160px;
}

ul {
	list-style-type:none;
}

a {
	color:#F1F2C0;
	text-decoration: none;
}

section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}

aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media screen and (max-width: 800px) {
	body {
		margin: 0;
	}
	
	#contenedor {
		padding-bottom: 20px;
		width: auto;
	}

	h1 {
		margin: 0;
	}

	h2 {
		margin: 0;
		padding: 15px;
	}
	
	nav {
		float: none;
		width: 100%;
	}

	nav ul {
		margin: 0;
	}
	
	nav ul li {
		padding: 5px;
	}

	p {
		margin: 0;
		padding-bottom: 10px;
		padding-left: 10px;
	}
	
	section {
		border-color: black;
		border-style: solid;
		border-width: 1px 0 1px 0;
		float: none;
		margin: 0;
		width: 100%;
	}
	
	aside {
		float: none;
		height: 100%;
		width: 100%;
	}
}
