@font-face {
    font-family: Laconic;
    src: url(laconic.otf);
}

h2 {
    font-family: Laconic;
    font-size: 32px;
    color: #53619b;
}

h3 {
    font-family: Laconic;
    font-size: 22px;
    color: #53619b;
}

.foto {
    width: 300px;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ced2e9;
}

.contacto {
    font-family: Laconic;
    font-size: 22px;
    color: #3e435c;
}

.texto {
    font-family: Helvetica;
    font-size: 16px;
}
